@import "fonts", "reset", "vars";
html {
	// filter: invert(1);
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	font-family: $main-font;
	color: $light;

	background-color: $background;
	&.active {
		overflow: hidden;
	}
}
.conteiner {
	width: 90vw;
	margin: 0 auto;
}
