@import "basic";
.hints {
	&__image {
		display: none;
	}
	&__text {
		width: 70vw;
		text-align: center;
		margin: 0 auto;
		font-size: 1.2vw;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
	}
}
#secondhint {
	margin: -30vw auto;
}
#thirdhint {
	margin: 53vw auto;
}
#fourthhint {
	margin: -80vw auto;
}
#hands-empty-right {
	opacity: 0.3;

	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	right: 0;
	width: 30vw;
	z-index: 10;
	position: absolute;
	top: 100vw;
	rotate: -10deg;
}
#hands-empty-left {
	opacity: 0.3;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	left: 0;
	width: 30vw;
	z-index: 10;
	position: absolute;
	top: 100vw;
	rotate: 10deg;
}
#hands-colorful {
	right: 25vw;
	width: 50vw;
	position: absolute;
	top: 100vw;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}
