@import "basic";

.header {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	margin: 1vw 0 0 0;
	left: 50%;
	padding: 0;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		align-items: center;
		display: flex;
		column-gap: 10px;
	}

	&__icon {
		width: 5vw;
		height: 5vw;
		object-fit: cover;
	}
	&__name {
		color: $light;

		font-size: 2.5vw;
	}
}
