@import "basic";
.modal {
	left: 50%;
	top: -100vh;
	padding: 2vw;
	transform: translate(-50%);
	background-color: $keyboard;
	border-radius: 1vw;
	//display: none;
	position: absolute;
	transition: 1s;
	z-index: 99;
	max-width: 760px;
	width: 90dvw;
	height: 70vh;
	font-size: 1.1vw;
	box-shadow: 0 0 0.6vw $keyboard-border;
	border: solid 0.15vw $keyboard-border;
	-webkit-border-radius: 0.7vw;
	-moz-border-radius: 0.7vw;
	-ms-border-radius: 0.7vw;
	-o-border-radius: 0.7vw;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);

	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	&__chart {
		top: 0;
		transition: 0.5s;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}
	&__past-results {
		position: absolute;
		opacity: 0;
		display: none;
		transition: 0.5s;
	}
	&__additionally-info {
		display: flex;
		justify-content: center;
		margin-top: 1.5vw;
		height: 40vh;
		width: 100%;
		position: relative;
	}
	&__checkbox {
		z-index: 9999;
		display: inline;
		transition: 0.4s;
		opacity: 0.5;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-ms-transition: 0.4s;
		-o-transition: 0.4s;

		&:hover {
			opacity: 1;
		}
		&:nth-child(1) {
			float: right;
		}

		&:nth-child(2) {
			float: right;
			margin-right: 10px;
		}
	}

	&__more-info {
		margin: 0 auto;
		display: none;
		opacity: 0;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
	}

	&__results {
		transition: 0.4s;
		font-family: $main-font;
		color: $light;
		//text-align: center;
		margin-right: 10px;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-ms-transition: 0.4s;
		-o-transition: 0.4s;
	}
	&__link {
		display: block;
		margin: 0 2vw 0 auto;
		opacity: 0.5;
		transition: 0.4s;
		font-size: 1.1vw;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-ms-transition: 0.4s;
		-o-transition: 0.4s;

		&:hover {
			opacity: 1;
		}
	}
	&__info {
		margin: 0.5vw 0;
		display: flex;
		justify-content: space-between;
	}
	&__content {
		margin: 1vw 2vw 0 2vw;
	}
	// &__title {
	// 	margin-left: 2vw;
	// 	font-size: 1.1vw;
	// }
	&__button {
		position: absolute;
		bottom: 1.3vw;
		display: block;
		border-radius: 0.5vw;
		transition: 0.4s;
		padding: 1vw 2vw;
		box-shadow: 0 0 0.6vw $keyboard-border;
		border: solid 0.15vw $keyboard-border;
		-webkit-border-radius: 0.5vw;
		-moz-border-radius: 0.5vw;
		-ms-border-radius: 0.5vw;
		-o-border-radius: 0.5vw;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-ms-transition: 0.4s;
		-o-transition: 0.4s;
		left: 50%;
		transform: translate(-50%);
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-ms-transform: translate(-50%);
		-o-transform: translate(-50%);
		&:hover {
			transform: scale(1.05) translate(-47.5%);
			-webkit-transform: scale(1.05) translate(-47.5%);
			-moz-transform: scale(1.05) translate(-47.5%);
			-ms-transform: scale(1.05) translate(-47.5%);
			-o-transform: scale(1.05) translate(-47.5%);
			box-shadow: 0 0 0.8vw white;
		}
	}
	&__table {
		transition: 0.5s;

		& td {
			padding: 0.05vw 1vw;
			text-align: center;
		}
		& th {
			text-align: center;
			padding: 0.3vw 1vw;
		}
	}
	&__tr-top {
		padding: 0.05vw 1vw;
		text-align: center;
	}
}
