@import "basic";

.header {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	margin: 1vw 0 0 0;
	left: 50%;
	padding: 0;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		align-items: center;
		display: flex;
		-moz-column-gap: 10px;
		column-gap: 10px;
	}

	&__icon {
		width: 5vw;
		height: 5vw;
		-o-object-fit: cover;
		object-fit: cover;
	}

	&__name {
		color: $light;

		font-size: 2.5vw;
	}

	&__opener-text {
		font-size: 2vw;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	&__settings-icon {
		transition:
			rotate 1s ease,
			opacity 0.2s;
		width: 3vw;
		height: 3vw;
		z-index: 20;
		-webkit-transition:
			rotate 1s ease,
			opacity 0.2s;
		-moz-transition:
			rotate 1s ease,
			opacity 0.2s;
		-ms-transition:
			rotate 1s ease,
			opacity 0.2s;
		-o-transition:
			rotate 1s ease,
			opacity 0.2s;
		position: relative;
		&:hover {
			rotate: 180deg;
		}
		&.active {
			transition:
				rotate 0s ease,
				opacity 0.2s;
			content: url("./assets/icons/training/header/cross.png");
			-webkit-transition:
				rotate 0s ease,
				opacity 0.2s;
			-moz-transition:
				rotate 0s ease,
				opacity 0.2s;
			-ms-transition:
				rotate 0s ease,
				opacity 0.2s;
			-o-transition:
				rotate 0s ease,
				opacity 0.2s;

			&:hover {
				rotate: 0deg;
			}
		}
	}
	//
	//
	//
	//
	//
	//
	//
	//
	//
	//* settings

	&__settings {
		padding-top: 7vw;
		padding-left: 3vw;
		right: -36vw;
		position: absolute;
		top: -10vh;
		width: 30vw;
		height: 110vh;
		background-color: $background-grey;
		transition: 0.8s;
		-webkit-transition: 0.8s;
		-moz-transition: 0.8s;
		-ms-transition: 0.8s;
		-o-transition: 0.8s;
	}
	&__settings.active {
		transform: translate(-30vw, 0);
		-webkit-transform: translate(-30vw, 0);
		-moz-transform: translate(-30vw, 0);
		-ms-transform: translate(-30vw, 0);
		-o-transform: translate(-30vw, 0);
	}
	&__setting-name {
		font-size: 2vw;
	}
	&__mode-buttons {
		display: flex;
	}
	&__mode-button {
		width: 30%;
		display: block;
		margin-top: 2vw;
		transition: 0.5s;
		background-color: rgb(80, 80, 80);
		font-size: 1.5vw;
		padding: 1vw;

		&:first-child {
			border-radius: 2vw 0 0 2vw;
			-webkit-border-radius: 2vw 0 0 2vw;
			-moz-border-radius: 2vw 0 0 2vw;
			-ms-border-radius: 2vw 0 0 2vw;
			-o-border-radius: 2vw 0 0 2vw;
		}
		&:last-child {
			border-radius: 0 2vw 2vw 0;
		}
	}
	&__color-form {
	}
	&__text {
		display: block;
		position: relative;
	}
	&__text input {
		position: absolute;
		right: 13vw;
	}
	&__title {
		margin-top: 3vh;
		font-size: 1.3vw;
	}
	&__reset-button {
		opacity: 0.5;
		transition: 0.5s;
		&:hover {
			opacity: 1;
		}
	}
	&__reset-result {
		position: absolute;
		bottom: 2vw;
		opacity: 0.5;
		transition: 0.5s;
		&:hover {
			color: $hint;
			opacity: 0.7;
		}
	}
	&__input {
		display: none;
	}
	&__input + &__label {
		transition: 0.4s;
		display: block;
		position: relative;
		width: 3em;
		height: 1.6em;
		margin-bottom: 20px;
		background: $hint;
		border-radius: 0.2em;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	&__input + &__label:before {
		content: "";
		display: block;
		width: 1.2em;
		height: 1.2em;
		border-radius: 0.2em;
		background: #f7f2f2;
		position: absolute;
		left: 0.2em;
		top: 0.2em;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	&__input:checked + &__label {
		background: $active;
	}
	&__input:checked + &__label:before {
		left: 1.6em;
	}
	&__input {
	}
	&__setting-section {
		position: relative;
		margin-top: 1vw;
		display: flex;
		width: 15vw;
		justify-content: space-between;
	}
	&__range {
		color: red;
		position: relative;
		right: 0;
	}
	&__label-range {
		top: 50%;
		transform: translate(0, -50%);
		position: absolute;
		right: -2vw;
	}

	&__range {
		-webkit-appearance: none;
		position: relative;
		top: 1.2vw;
		width: 100%;
		height: 0.4vw;
		background: #015e01;
		outline: none;
		border-radius: 1vw;
	}

	&__range::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 1vw;
		height: 1vw;
		background: $active;
		border-radius: 1vw;
		border: 2px solid $active;
	}

	&__range::-moz-range-thumb {
		width: 1vw;
		height: 1vw;
		border: 2px solid $active;
	}
}

#easy.active {
	background-color: rgb(0, 94, 0);
}
#medium.active {
	background-color: rgb(147, 147, 0);
}
#hard.active {
	background-color: rgb(112, 1, 1);
}
#easy:hover {
	background-color: rgb(0, 94, 0);
}
#medium:hover {
	background-color: rgb(147, 147, 0);
}
#hard:hover {
	background-color: rgb(112, 1, 1);
}
