@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #06050a;
}
body.active {
  overflow: hidden;
}

.conteiner {
  width: 90vw;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  margin: 1vw 0 0 0;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header__icon {
  width: 5vw;
  height: 5vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__name {
  color: #ffffff;
  font-size: 2.5vw;
}
.header__opener {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1vw;
     -moz-column-gap: 1vw;
          column-gap: 1vw;
  cursor: pointer;
}
.header__opener:hover .header__bar {
  width: 3vw;
}
.header__opener-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 2vw;
}
.header__burger {
  width: 3vw;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 2.2vw;
}
.header__bar {
  width: 2vw;
  height: 0.3vw;
  background-color: #ffffff;
  position: relative;
  border-radius: 0.2vw;
  -webkit-border-radius: 0.2vw;
  -moz-border-radius: 0.2vw;
  -ms-border-radius: 0.2vw;
  -o-border-radius: 0.2vw;
  -webkit-transition: width 0.6s, -webkit-transform 0.6s;
  transition: width 0.6s, -webkit-transform 0.6s;
  transition: width 0.6s, transform 0.6s;
  transition: width 0.6s, transform 0.6s, -webkit-transform 0.6s;
  -webkit-transition: width 0.6s, transform 0.6s;
  -moz-transition: width 0.6s, transform 0.6s;
  -ms-transition: width 0.6s, transform 0.6s;
  -o-transition: width 0.6s, transform 0.6s;
}
.header__bar:first-child {
  width: 3vw;
}
.header__bar:last-child {
  width: 1vw;
}
.header__burger.active .header__bar {
  -webkit-transition: width 0.3s, -webkit-transform 0.6s;
  transition: width 0.3s, -webkit-transform 0.6s;
  transition: width 0.3s, transform 0.6s;
  transition: width 0.3s, transform 0.6s, -webkit-transform 0.6s;
  -webkit-transition: width 0.3s, transform 0.6s;
  -moz-transition: width 0.3s, transform 0.6s;
  -ms-transition: width 0.3s, transform 0.6s;
  -o-transition: width 0.3s, transform 0.6s;
  width: 0;
}
.header__burger.active .header__bar:first-child {
  -ms-transform: translate(1vw, 0.9vw) rotate(-45deg);
      transform: translate(1vw, 0.9vw) rotateZ(-45deg);
  width: 4.24vw;
  display: block;
  -webkit-transform: translate(1vw, 0.9vw) rotateZ(-45deg);
  -moz-transform: translate(1vw, 0.9vw) rotateZ(-45deg);
  -ms-transform: translate(1vw, 0.9vw) rotateZ(-45deg);
  -o-transform: translate(1vw, 0.9vw) rotateZ(-45deg);
}
.header__burger.active .header__bar:last-child {
  -ms-transform: translate(1vw, -0.9vw) rotate(45deg);
      transform: translate(1vw, -0.9vw) rotateZ(45deg);
  width: 4.24vw;
  display: block;
  -webkit-transform: translate(1vw, -0.9vw) rotateZ(45deg);
  -moz-transform: translate(1vw, -0.9vw) rotateZ(45deg);
  -ms-transform: translate(1vw, -0.9vw) rotateZ(45deg);
  -o-transform: translate(1vw, -0.9vw) rotateZ(45deg);
}
.header__menu {
  right: -36vw;
  position: absolute;
  top: -10vh;
  width: 30vw;
  height: 210vh;
  background-color: #171717;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.header__menu.active {
  transform: translate(-30vw, 0);
  -webkit-transform: translate(-30vw, 0);
  -moz-transform: translate(-30vw, 0);
  -ms-transform: translate(-30vw, 0);
  -o-transform: translate(-30vw, 0);
}

#python-card {
  background-color: #2671aa;
}

#js-card {
  background-color: #f0db4f;
}

#cpp-card {
  background-color: #669ad3;
}

#ch-card {
  background-color: #9867d4;
}

#c-card {
  background-color: #a8b9cc;
}

#java-card {
  background-color: #f7841b;
}

#html-card {
  background-color: #de4b25;
}

#css-card {
  background-color: #27ae60;
}