@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #06050a;
}
body.active {
  overflow: hidden;
}

.conteiner {
  width: 90vw;
  margin: 0 auto;
}

.chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chapter__illustration {
  position: relative;
}
.chapter__language {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
  background-color: #fff;
  width: 8vw;
  height: 8vw;
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.chapter__language:hover {
  width: 9vw;
  height: 9vw;
  margin-left: -0.5vw;
  margin-top: -0.5vw;
}
.chapter__language::before {
  z-index: -1;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 110%);
  content: "";
  display: block;
  height: 1.1vw;
  width: 0.5vw;
  background-color: #a06535;
  -webkit-transform: translate(-50%, 110%);
  -moz-transform: translate(-50%, 110%);
  -ms-transform: translate(-50%, 110%);
  -o-transform: translate(-50%, 110%);
}
.chapter__language.active {
  opacity: 1;
}
.chapter__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 18vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chapter__timeline-item {
  transition: 0.5s;
  position: relative;
  margin-left: 2vw;
  padding: 0.8vw 1vw;
  font-size: 1.7vw;
  text-align: center;
  border-radius: 40px;
  background-color: #a06535;
  color: #a06535;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.chapter__timeline-item::before {
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translate(-120%, -50%);
  content: "";
  display: block;
  width: 3.5vw;
  height: 0.5vw;
  background-color: #a06535;
  -webkit-transform: translate(-120%, -50%);
  -moz-transform: translate(-120%, -50%);
  -ms-transform: translate(-120%, -50%);
  -o-transform: translate(-120%, -50%);
}
.chapter__timeline-item:first-child {
  margin-left: 0;
  display: block;
  padding: 0;
  width: 1.5vw;
  height: 1.5vw;
}
.chapter__timeline-item:first-child::before {
  display: none;
}
.chapter__timeline-item.active {
  color: #ffffff;
}

#python {
  padding: 1.5vw;
  background-color: #2671aa;
  top: 23vw;
  left: 25.2vw;
}
#python::before {
  top: 2px;
  transform: translate(-50%, 110%);
  -webkit-transform: translate(-50%, -110%);
  -moz-transform: translate(-50%, -110%);
  -ms-transform: translate(-50%, -110%);
  -o-transform: translate(-50%, -110%);
}

#js {
  top: 9vw;
  left: 32.6vw;
  background-color: #f0db4f;
}

#cpp {
  top: 23vw;
  left: 10vw;
  background-color: #669ad3;
}
#cpp::before {
  top: 2px;
  transform: translate(-50%, 110%);
  -webkit-transform: translate(-50%, -110%);
  -moz-transform: translate(-50%, -110%);
  -ms-transform: translate(-50%, -110%);
  -o-transform: translate(-50%, -110%);
}

#ch {
  top: 9vw;
  left: 48.4vw;
  background-color: #9867d4;
}

#c {
  top: 9vw;
  left: 2.35vw;
  background-color: #a8b9cc;
}

#java {
  top: 0;
  left: 32.6vw;
  background-color: #f7841b;
}

#html {
  top: 9vw;
  left: 17.65vw;
  background-color: #de4b25;
}

#css {
  background-color: #27ae60;
  top: 23vw;
  left: 40.5vw;
}
#css::before {
  top: 2px;
  transform: translate(-50%, 110%);
  -webkit-transform: translate(-50%, -110%);
  -moz-transform: translate(-50%, -110%);
  -ms-transform: translate(-50%, -110%);
  -o-transform: translate(-50%, -110%);
}