@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #06050a;
}
body.active {
  overflow: hidden;
}

.conteiner {
  width: 90vw;
  margin: 0 auto;
}

.laptop {
  position: relative;
  left: 0;
  width: 584px;
  height: 405px;
}

.laptop * {
  position: absolute;
}

.laptop .shadow {
  left: 17px;
  right: 17px;
  top: 40px;
  height: 490px;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  background: #7692b3;
  -webkit-filter: blur(30px);
  filter: blur(30px);
}

.laptop .top {
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(45deg, #e5ebf2, #f3f8fb);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  z-index: 10;
  -webkit-transform: perspective(880px) rotateX(-150deg);
          transform: perspective(880px) rotateX(-150deg);
  height: 200px;
  margin-top: 195px;
  -webkit-transition: 2s;
  transition: 2s;
}
.laptop .top.animate__animated {
  -webkit-transform: perspective(880px) rotateX(0deg);
          transform: perspective(880px) rotateX(0deg);
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

.laptop .lid {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-top: -10px;
  width: 100%;
  z-index: 10;
  -webkit-transition: 2s;
  transition: 2s;
  background: linear-gradient(45deg, #e5ebf2, #f3f8fb);
  border-radius: 20px;
  -webkit-box-shadow: inset 1px -4px 6px rgba(145, 161, 181, 0.3);
          box-shadow: inset 1px -4px 6px rgba(145, 161, 181, 0.3);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: perspective(880px) rotateX(-150deg);
          transform: perspective(880px) rotateX(-150deg);
  height: 200px;
  margin-top: 195px;
}
.laptop .lid.animate__animated {
  -webkit-transform: perspective(880px) rotateX(0deg);
          transform: perspective(880px) rotateX(0deg);
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

.laptop .camera {
  --size: 4px;
  width: var(--size);
  height: var(--size);
  top: 10px;
  left: 50%;
  margin-left: calc(var(--size) / -2);
  border-radius: 50%;
  background: #dae0e8;
}

.laptop .screen {
  top: 24px;
  bottom: 50px;
  left: 11px;
  right: 11px;
  border-radius: 4px;
  -webkit-box-shadow: -1px 1px 6px rgba(171, 183, 204, 0.2);
          box-shadow: -1px 1px 6px rgba(171, 183, 204, 0.2);
  background: url(/assets/img/home/main/learning/page.png);
  background-size: cover;
  background-position: center;
  /*     animation: closing-lid 2s infinite; */
}

.laptop .chassis {
  width: 100%;
  height: 200px;
  top: calc(100% - 11px);
  border-radius: 8px 8px 14px 14px;
  -webkit-transform: perspective(880px) rotateX(30deg);
  transform: perspective(880px) rotateX(30deg);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
  background: linear-gradient(rgba(145, 161, 181, 0.2), rgba(145, 161, 181, 0)), linear-gradient(45deg, #e5ebf2, #f3f8fb);
  -webkit-box-shadow: inset 0 -2px 3px rgba(145, 161, 181, 0.5), inset -1px -6px 4px rgba(253, 255, 255, 0.9);
          box-shadow: inset 0 -2px 3px rgba(145, 161, 181, 0.5), inset -1px -6px 4px rgba(253, 255, 255, 0.9);
}

.laptop .chassis * {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  background: linear-gradient(45deg, #b2bdcc, #c1ccd8);
  -webkit-box-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.75);
          box-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.75);
}

.laptop .keyboard img {
  width: 100%;
  height: 100%;
}

.laptop .keyboard {
  left: 28px;
  right: 28px;
  top: 8px;
  height: 126px;
}

.learning {
  position: relative;
  padding: 10vw 0 10vw 0;
}
.learning::before {
  z-index: -1;
  position: absolute;
  top: 10%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgb(43, 42, 42)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(43, 42, 42), rgba(0, 0, 0, 0));
}
.learning__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.learning__info {
  margin-left: 5vw;
  width: 47vw;
}

@media (max-width: 480px) {
  .learning .button {
    display: none;
  }
  .learning__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .learning__info {
    margin: 0 auto !important;
    scale: 1.4;
  }
  .laptop {
    display: none;
  }
  .description {
    font-size: 8px;
  }
}