@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #06050a;
}
body.active {
  overflow: hidden;
}

.conteiner {
  width: 90vw;
  margin: 0 auto;
}

.modal {
  left: 50%;
  top: -100vh;
  padding: 2vw;
  transform: translate(-50%);
  background-color: #101010;
  border-radius: 1vw;
  position: absolute;
  transition: 1s;
  z-index: 99;
  max-width: 760px;
  width: 90dvw;
  height: 70vh;
  font-size: 1.1vw;
  -webkit-box-shadow: 0 0 0.6vw #1f1f1f;
          box-shadow: 0 0 0.6vw #1f1f1f;
  border: solid 0.15vw #1f1f1f;
  -webkit-border-radius: 0.7vw;
  -moz-border-radius: 0.7vw;
  -ms-border-radius: 0.7vw;
  -o-border-radius: 0.7vw;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.modal__chart {
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}
.modal__past-results {
  position: absolute;
  opacity: 0;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.modal__additionally-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5vw;
  height: 40vh;
  width: 100%;
  position: relative;
}
.modal__checkbox {
  z-index: 9999;
  display: inline;
  transition: 0.4s;
  opacity: 0.5;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.modal__checkbox:hover {
  opacity: 1;
}
.modal__checkbox:nth-child(1) {
  float: right;
}
.modal__checkbox:nth-child(2) {
  float: right;
  margin-right: 10px;
}
.modal__more-info {
  margin: 0 auto;
  display: none;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.modal__results {
  transition: 0.4s;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.modal__link {
  display: block;
  margin: 0 2vw 0 auto;
  opacity: 0.5;
  transition: 0.4s;
  font-size: 1.1vw;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.modal__link:hover {
  opacity: 1;
}
.modal__info {
  margin: 0.5vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal__content {
  margin: 1vw 2vw 0 2vw;
}
.modal__button {
  position: absolute;
  bottom: 1.3vw;
  display: block;
  border-radius: 0.5vw;
  transition: 0.4s;
  padding: 1vw 2vw;
  -webkit-box-shadow: 0 0 0.6vw #1f1f1f;
          box-shadow: 0 0 0.6vw #1f1f1f;
  border: solid 0.15vw #1f1f1f;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.modal__button:hover {
  transform: scale(1.05) translate(-47.5%);
  -webkit-transform: scale(1.05) translate(-47.5%);
  -moz-transform: scale(1.05) translate(-47.5%);
  -ms-transform: scale(1.05) translate(-47.5%);
  -o-transform: scale(1.05) translate(-47.5%);
  -webkit-box-shadow: 0 0 0.8vw white;
          box-shadow: 0 0 0.8vw white;
}
.modal__table {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.modal__table td {
  padding: 0.05vw 1vw;
  text-align: center;
}
.modal__table th {
  text-align: center;
  padding: 0.3vw 1vw;
}
.modal__tr-top {
  padding: 0.05vw 1vw;
  text-align: center;
}