@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #06050a;
}
body.active {
  overflow: hidden;
}

.conteiner {
  width: 90vw;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  margin: 1vw 0 0 0;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  align-items: center;
  display: flex;
  column-gap: 10px;
}
.header__icon {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
}
.header__name {
  color: white;
  font-size: 2.5vw;
}
.header__opener-text {
  font-size: 2vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header__settings-icon {
  transition: rotate 1s ease, opacity 0.2s;
  width: 3vw;
  height: 3vw;
  z-index: 20;
  -webkit-transition: rotate 1s ease, opacity 0.2s;
  -moz-transition: rotate 1s ease, opacity 0.2s;
  -ms-transition: rotate 1s ease, opacity 0.2s;
  -o-transition: rotate 1s ease, opacity 0.2s;
  position: relative;
}
.header__settings-icon:hover {
  rotate: 180deg;
}
.header__settings-icon.active {
  transition: rotate 0s ease, opacity 0.2s;
  content: url("/assets/icons/training/header/cross.png");
  -webkit-transition: rotate 0s ease, opacity 0.2s;
  -moz-transition: rotate 0s ease, opacity 0.2s;
  -ms-transition: rotate 0s ease, opacity 0.2s;
  -o-transition: rotate 0s ease, opacity 0.2s;
}
.header__settings-icon.active:hover {
  rotate: 0deg;
}
.header__settings {
  padding-top: 7vw;
  padding-left: 3vw;
  right: -36vw;
  position: absolute;
  top: -10vh;
  width: 30vw;
  height: 110vh;
  background-color: #171717;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.header__settings.active {
  transform: translate(-30vw, 0);
  -webkit-transform: translate(-30vw, 0);
  -moz-transform: translate(-30vw, 0);
  -ms-transform: translate(-30vw, 0);
  -o-transform: translate(-30vw, 0);
}
.header__setting-name {
  font-size: 2vw;
}
.header__mode-buttons {
  display: flex;
}
.header__mode-button {
  display: block;
  margin-top: 2vw;
  transition: 0.5s;
  background-color: rgb(80, 80, 80);
  font-size: 1.5vw;
  padding: 1vw;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header__mode-button:first-child {
  border-radius: 2vw 0 0 2vw;
  -webkit-border-radius: 2vw 0 0 2vw;
  -moz-border-radius: 2vw 0 0 2vw;
  -ms-border-radius: 2vw 0 0 2vw;
  -o-border-radius: 2vw 0 0 2vw;
}
.header__mode-button:last-child {
  border-radius: 0 2vw 2vw 0;
  -webkit-border-radius: 0 2vw 2vw 0;
  -moz-border-radius: 0 2vw 2vw 0;
  -ms-border-radius: 0 2vw 2vw 0;
  -o-border-radius: 0 2vw 2vw 0;
}

#easy.active {
  background-color: rgb(0, 94, 0);
}

#medium.active {
  background-color: rgb(147, 147, 0);
}

#hard.active {
  background-color: rgb(112, 1, 1);
}

#easy:hover {
  background-color: rgb(0, 94, 0);
}

#medium:hover {
  background-color: rgb(147, 147, 0);
}

#hard:hover {
  background-color: rgb(112, 1, 1);
}